@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body
{
    font-family: Raleway;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

/*HEADER*/

.header {
    background-color:whitesmoke;
    text-align: center;
}

.logo
{
    width: 150px;
}

ul
{
    list-style: circle;
}

li
{
    display: inline-block;
    padding: 25px;
}

a
{
    border: black;
}

.btn {
    font-family: Raleway;
    text-decoration: none;
    color: black;
    border-radius: 40px;
    font-size: 100%;
    padding: 15px 60px;

}

.btn:hover {
  
}

/*HERO*/
.parallax {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("/assets/san-francisco-nights_4460x4460.jpg");
    background-size: cover;
    color: white;
}

.border{
    border: 10px solid rgba(255, 255, 255, 0.5);
    margin: 10px;
    padding: 1rem;
    border-radius: 15px;
}

.MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.hero {
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 50vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("/assets/san-francisco-nights_4460x4460.jpg");
    background-size: cover;
    background-position: 8px 8px;
    border: 0.5rem solid;
}

.parallax .content {
    grid-column: 2;
    text-align: center;
    margin: auto;
}

.parallax .content h2{
    margin-bottom: -0.5em;
}

.parallax .content h1 {
    font-size: 500%;
    margin: auto;
    padding-bottom: 0.2em;
}

input {
    padding:5px;
    border:solid #ccc 1px;
    font-family: monospace;
    border-radius: 5px;
}

input:focus {
    border-color: #5753db;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
}

input[type=submit]:focus {
    background:#5753db;
    color: white;
}

/*TEXT BOX*/

.main
{
    text-align: left;
    background-color: #f4f4f4;
    padding: 20% 20%;
    line-height: 2;
}

/*3 COLUMN IMAGES*/

.grid-container1 {
  height: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10%;
}

.grid-container1 div {
  text-align: center;
}

/*FOOTER*/

.img-social {
    height: 40px;
    width: 40px;
}

.grid-container2 {
  background-color: #f4f4f4;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr
}

.grid-container2 div {
  vertical-align: middle;
  text-align: center;
}
